body {
    background-color: wheat;
}

.snakeTitle {
    font-size: 50px;
    color: black;
    font-family: monospace;
    font-weight: bolder;
    text-align: center;
    margin: auto;
}

.snakeScore {
    font-size: 40px;
    color: black;
    font-family: monospace;
    font-weight: bolder;
    text-align: center;
    margin: auto;
}

.snakeCanvas {
    width: 900px;
    height: 450px;
    display: flex;
    padding: 0;
    margin: auto;
    position: absolute;
    border: 15px black;
    outline: black 3px solid;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}