body {
    background-image: linear-gradient(to right,#c21500, #ffc500);
    font-family: 'Orbitron', sans-serif;
}

.snakeTitle {
    font-size: 50px;
    color: black;
    font-weight: bolder;
    text-align: center;
    margin: auto;
}

#snakeScore {
    font-size: 40px;
    color: black;
    font-weight: bolder;
    text-align: center;
    margin: auto;
}

.snakeCanvas {
    display: flex;
    padding: 0;
    margin: auto;
    position: absolute;
    border: 15px black;
    outline: black 3px solid;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}