body {
    background-color: wheat;
}

.snakeTitle {
    font-size: 50px;
    color: black;
    font-family: monospace;
    font-weight: bolder;
    text-align: center;
}

.snakeScore {
    font-size: 40px;
    color: black;
    font-family: monospace;
    font-weight: bolder;
    text-align: center;
}

.snakeCanvas {
    width: 300;
    height: 300;
    border: 100px;
    border-color: black;
    background-color: white;
}